@media screen and (max-width: 767px) {
    .grid-container {
        display: flex;
        flex-direction: column;
        margin: 5px auto;
    }

    .bloque {
        width: 95%;
        margin: 5px auto;
    }

    .related-champs {
        height: 250px;
        margin-bottom: 100px;
    }

    .quote {
        height: 300px;
    }

    .biography {
        height: 400px;
    }

    .role {
        height: auto;
    }

    .role img {
        width: 30%;
    }

    .role-text {
        font-size: 30px;
    }

    .game-info-briar {
        height: 200px;
    }

    .background-briar {
        background-position: center;
    }

    .champ-cages {
        flex-direction: row;
        justify-content: center;
    }

    .champ-cage {
        margin: 10px;
    }
    
    .rel-champs {
        width: 18vw;
    }

    footer {
        transform: scale(0.8);
    }

    .footer-copyright {
        width: 80%;
    }

    .biography-corpse {
        width: 90%;
        font-size: 16px;
    }

    .bubble {
        margin: 20px auto;
        width: 90%;
    }

    .regions-title {
        font-size: 40px;
        top: 70%
    }

    .region-div-1 {
        height: 300px;
    }

    .noxus-bio{
        width: 90%;
    }

    .champ {
        width: 100%;
    }

    .video-box {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .video {
        width: 95%;
        height: 280px;
    }

    .video-text {
        width: 85%;
        text-align: center;
    }

    .noxus-title {
        background-position: center;
    }

    .background-game-info {
        height: 400px;
        background-size: 90%;
    }

    .briar-info-title {
        bottom: 40px;
        width: 90%;
        height: 350px;
    }

    .game-info-title {
        font-size: 18px;
    }

    .briar-info-title {
        flex-direction: column;
    }

    .role-difficulty {
        width: 100%;
        border-bottom: 1px solid $color4;
        height: 50%;
        border-right: none;
    }

    .game-bio {
        width: 100%;
        padding: 5px 20px;
        height: 50%;
    }

    .briar-title {
        font-size: 80px;
    }

    .title-pos {
        top: 75%;
    }

    .abilities-bubbles {
        width: 90%;
    }
}

@media screen and (min-width: 320px) and (max-width:400px) {
    .biography p {
        padding: 20px;
    }

    .rel-champs {
        width: 35vw;
    }

    .related-champs {
        height: 400px;
    }

    .briar-info-title {
        height: 400px;
    }

    .role-difficulty {
        height: 30%;
    }

    .game-bio {
        height: 70%;
    }

    .champ-cages {
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    .video {
        height: 400px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .grid-container {
        display: flex;
        flex-direction: column;
        margin: 5px auto;
    }

    .champ-title {
        margin-bottom: 40px;
        font-size: 30px;
    }

    .champ-cages {
        flex-direction: row;
        justify-content: center;
    }

    .rel-champs {
        width: 18vw;
    }

    .bloque {
        width: 95%;
        margin: 5px auto;
    }

    .quote {
        margin-top: 80px;
        height: 300px;
    }

    .bio-text {
        font-size: 14px;
    }

    .biography {
        height: 300px;
    }

    .role-text {
        height: auto;
    }

    .role img {
        width: 10%;
    }

    .region-briar {
        height: 400px;
    }

    .game-info-briar {
        height: 300px;
    }

    footer {
        transform: scale(0.9);
    }

    .footer-copyright {
        width: 80%;
    }

    .biography-corpse {
        width: 90%;
        font-size: 16px;
    }

    .bubble:hover {
        transform: scale(1);
    }

    .bubble {
        margin: 20px auto;
        width: 45%;
    }

    .noxus-title {
        background-position: center;
    }

    .video-box {
        width: 100%;
    }

    .video {
        width: 60%;
        height: 300px;
    }

    .background-game-info {
        height: 400px;
        background-size: 90%;
    }

    .briar-info-title {
        bottom: 40px;
        width: 90%;
        height: 350px;
    }

    .game-info-title {
        font-size: 18px;
    }

    .briar-info-title {
        flex-direction: column;
    }

    .role-difficulty {
        width: 100%;
        border-bottom: 1px solid $color4;
        height: 50%;
        border-right: none;
    }

    .game-bio {
        width: 100%;
        padding: 5px 20px;
        height: 50%;
    }

    .briar-title {
        font-size: 80px;
    }

    .title-pos {
        top: 75%;
    }

    .abilities-bubbles {
        width: 90%;
    }
}

@media screen and (min-width: 992px) {
    .navig {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .video {
        height: 450px;
    }
    
    .background-game-info {
        height: 600px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1420px) {
    .grid-container {
        grid-template-columns: 20% 50% 20%;
        grid-template-rows: 60px 60px 60px 60px 60px 60px 60px 60px;
    }

    .noxus-emblem {
        width: 200px;
    }

    .region-text {
        padding: 10px;
    }

    .game-info-text {
        padding: 10px;
    }

    .game-info-icon {
        width: 60px;
    }

    .rel-champs {
        width: 120px;
    }

    .quote-img {
        width: 140px;
        height: 140px;
    }

    .quote img {
        bottom: 20%;
    }

    .quote p {
        font-size: 20px;
    }

    .role img {
        width: 29%;
    }

    .briar-info-title {
        bottom: 60px;
    }
}

@media screen and (min-width: 1024px) {
    .abilities-bubbles {
        flex-direction: row;
        width: 90%;
    }

    .passive-skill, .q-skill, .w-skill, .e-skill, .r-skill {
        width: 20%;
    } 
}