.cassio {
    background-image: url(../imagenes/cassiopeia_splash.jpg);
    background-size: cover;
    background-position: 70%;
}
.darius {
    background-image: url(../imagenes/darius_splash.jpg);
    background-size: cover;
    background-position: 70% 30%;
}
.draven {
    background-image: url(../imagenes/draven_splash.jpg);
    background-size: cover;
    background-position: 85% 8%;
}
.kata {
    background-image: url(../imagenes/katarina_splash.jpg);
    background-size: cover;
    background-position: 70%;
}
.kled {
    background-image: url(../imagenes/kled_splash.jpg);
    background-size: cover;
    background-position: 89%;
}
.leblanc {
    background-image: url(../imagenes/leblanc_splash.jpg);
    background-size: cover;
    background-position: 75%;
}
.morde {
    background-image: url(../imagenes/mordekaiser_splash.jpg);
    background-size: cover;
    background-position: 50%;
}
.riven {
    background-image: url(../imagenes/riven_splash.jpg);
    background-size: cover;
    background-position: 90%;
}
.samira {
    background-image: url(../imagenes/samira-splash.jpg);
    background-size: cover;
    background-position: 62%;
}
.sion {
    background-image: url(../imagenes/sion_splash.jpg);
    background-size: cover;
    background-position: 80%;
}
.swain {
    background-image: url(../imagenes/swain-splash.jpg);
    background-size: cover;
    background-position: 75%;
}
.talon {
    background-image: url(../imagenes/talon_splash.jpg);
    background-size: cover;
    background-position: 70%;
}
.vladi {
    background-image: url(../imagenes/vladimir_splash.jpg);
    background-size: cover;
    background-position: 80%;
}