.bandle-city {
    background-image: url(../imagenes/bandle-city_splash.jpg);
    background-size: cover;
}

.bilgewater {
    background-image: url(../imagenes/bilgewater_splash.jpg);
    background-size: cover;
}

.demacia {
    background-image: url(../imagenes/bandle-city_splash.jpg);
    background-size: cover;
}

.ionia {
    background-image: url(../imagenes/ionia-splash.jpg);
    background-size: cover;
}

.ixtal {
    background-image: url(../imagenes/ixtal-splash.jpg);
    background-size: cover;
}

.noxus {
    background-image: url(../imagenes/noxus_splash.jpg);
    background-size: cover;
}

.piltover {
    background-image: url(../imagenes/piltover_splash.jpg);
    background-size: cover;
}

.shadow-isles {
    background-image: url(../imagenes/shadow-isles_splash.jpg);
    background-size: cover;
}

.shurima {
    background-image: url(../imagenes/shurima_splash.jpg);
    background-size: cover;
}

.targon {
    background-image: url(../imagenes/mount-targon_splash.jpg);
    background-size: cover;
}

.freljord {
    background-image: url(../imagenes/freljord_splash.jpg);
    background-size: cover;
}

.void {
    background-image: url(../imagenes/void-splash.jpg);
    background-size: cover;
}

.zaun {
    background-image: url(../imagenes/zaun_splash.jpeg);
    background-size: cover;
}